<div>
  <label>姓 <input type="text" v-model="element.family"></label>
</div>
<div>
  <label>名 <input type="text" v-model="element.given"></label>
</div>
<div>
  <label><input type="radio" v-model.number="element.select" :value="1">選択肢1</label>
  <label><input type="radio" v-model.number="element.select" :value="2">選択肢2</label>
</div>
